@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Bitcount Grid Double", system-ui;
    font-optical-sizing: auto;
    
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "CRSV" 0.5,
      "ELSH" 0,
      "ELXP" 0;
}

p{
    font-size: larger;
}

body {
    background-color: rgb(214, 177, 150);

}


.nav-link, .navbar-brand{
    color: black;      
    text-decoration: none; /* remove underline */
    font-weight: bolder;
    cursor: pointer;
}

.navbar-brand:hover{
    color: black;
}

.nav-link:hover {
    color: black;            
    background-color: orange;
}

.navbar-dark .navbar-toggler {
    border-color: black;
    border-width: 5px; 
}

.card-img-top{
    height:300px;
}
h3{
    font-weight: bolder;
    text-transform: uppercase;
}

.navbar-collapse{
    justify-content: right;
}

.home-title {
    display: flex;
    font-size: 4rem;
    line-height: 5rem;
    margin: 0px;
    
}
.home-info{
    font-size: 2rem;
}
#home {
    width: 100%;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(74, 75, 77);
    border-image: initial;
    padding: 35px;
    margin: 0px;
}    

#doge-1 {
    display: block;
    width: 1000px;
    height: 800px;
}

#doge-2 {
    display: none;
    width: 600px;
    height: 800px;
}

.UNAschool, .HCCschool{
    width: 70%;
    height: 700px;    
    border-radius: 50%;
}

.profile-img{ 
    border-radius: 50%;
    display: inline-block;
}

#imageContainer, #imageContainer2{
    display: flex;
    justify-content: center;
}
.click{
    display: flex;
    justify-content: center;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
#fname{
    color: chocolate;
}
#lname{
    color: darkcyan;
}
#about-fname{
    color: purple;
}
.container-fluid{
    color: black;
    font-weight: bolder;    
}
#about{
    background-image: url('../assets/images/vintage_retro_lines_corner_background.jpg');
    background-size: cover;      /* make it cover the whole page */
    background-position: center; /* center the image */
    background-repeat: no-repeat;/* avoid repeating tiles */
    color: black;
    font-weight: bolder;
  
}
.my-custom-navbar {
    background-image: url('../assets/images/vintage_retro_lines_corner_background.jpg');
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
}
#edu-bor{
    border-top: black;
    border-style: dotted none;
}

#edu-bor2{
    border-top: black;
    border-style: none none dotted;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}